<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f5f5;
        }

        header {
            background-color: #3498db;
            color: #fff;
            text-align: center;
            padding: 1em;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            margin-bottom: 20px;
        }

        input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #3498db;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .message-container {
            width: 100%;
            max-width: 600px;
            border: 1px solid #3498db;
            padding: 10px;
            overflow-y: auto;
            max-height: 300px;
            border-radius: 10px;
            background-color: #fff;
        }

        footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Chat Room</h1>
    </header>

    <main>
        <div class="chat-container">
            <input id="chatBox" placeholder="Escribe tu mensaje...">
            <button id="sendMessage">Enviar</button>
        </div>
        <div class="message-container">
            <div id="messageLogs"></div>
        </div>
    </main>

    <footer>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js"></script>
    </footer>

</body>
</html>
